<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.eventTitle %></title>
</head>
<body>
    <h1><%= event.eventTitle %></h1>
    <p>Date: <%= event.eventDate %></p>
    <p>Address: <%= event.address %></p>
    <p>Description: <%= event.description %></p>
    <p>Ticker Price: <%= event.ticketPrice %></p>
    <p>Number of Tickets: <%= event.numTickets %></p>
    <p>Cover Photo: <%= event.coverPhoto %></p>

    <!-- Add more event details here -->
</body>
</html>
