<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-G+OMwRq43m0p9KbHTmnzIMe6at/aG2lE5Gce1d2lAY/JTc5VHzx7Za0VSmECnSG4PTQp6ohslAso7Xe26BK4Rw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

 <!-- =================================================================================== -->
  <!-- ============================== PAGE CODE STARTS HERE ============================== -->
  <!-- =================================================================================== -->


  <!-- Header -->
  <%- include('partials/header.ejs'); %>
  
<!-- Event Card -->
<div class="container mt-5 fade-in1">
  <div class="card event-page">
    <div class="row no-gutters">
      <!-- Left side for details -->
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <!-- Adjusting the size of the square-image-container for a fixed aspect ratio -->
        <div class="square-image-container">
          <img src= " <%= event.coverPhoto %> " class="card-img-top img-fluid rounded" alt="Event Image">
        </div>
      </div>
      <!-- Right side for details -->
      <div class="col-md-6">
        <div class="card-body">
          <!-- Adding a class to the event title for styling -->
          <h5 class="card-title event-title"> <%= event.eventTitle %> </h5>
          <p class="card-text"><strong><i class="far fa-calendar"></i><%= event.eventDate.toLocaleDateString('en-US', { timeZone: 'UTC' }) %>, <%= event.eventDate.toLocaleTimeString('en-US', { timeZone: 'UTC', hour: 'numeric', minute: 'numeric' }) %></strong></p>
          <p class="card-text"><strong><i class="fas fa-map-marker-alt"></i><%= event.address %></strong></p>

          <p class="card-text"><%= event.description %></p>
          <p class="card-text"><strong>Price:</strong> <%= event.ticketPrice %></p>
          <a href="#" class="btn btn-color btn-lg btn-block">Get Tickets</a>
          <button id="contactButton" class="btn btn-color btn-lg btn-block">Contact Organizer</button>

        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Form Container -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div id="contactFormContainer" style="display: none;">
          <form id="contactForm" action="/contactOrganizer" method="post">
            <!-- Hidden input fields for event ID and organizer ID -->
            <input type="hidden" id="eventId" name="eventId" value="">
            <input type="hidden" id="organizerId" name="organizerId" value="">
          
            <!-- Subject input -->
            <div class="form-outline mb-2">
              <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
              <label class="form-label" for="subject">Subject</label>
            </div>
          
            <!-- Message input -->
            <div class="form-outline mb-2">
              <textarea id="message" name="message" class="form-control" rows="4" placeholder="Enter your message"></textarea>
              <label class="form-label" for="message">Message</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Review Form -->
<div class="container">
  <div id="reviews" class="review-section">
      <div class="d-flex align-items-center justify-content-between mb-4">
          <h4 class="m-0">4 Reviews</h4>
          <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 188px;">
              <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-qd66-container">
                  
                      <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                  </span>
              </span>
              <span class="dropdown-wrapper" aria-hidden="true"></span>
          </span>
      </div>
      <div class="row">
          <div class="col-md-6">
              <table class="stars-counters">
                  <tbody>
                      <tr class="">
                          <td>
                              <span>
                                <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter" style="background-color: transparent; border: none; color: #ffffff;">5 Stars</button>
                              </span>
                          </td>
                          <td class="progress-bar-container">
                              <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                  <div class="fit-progressbar-background">
                                      <span class="progress-fill" style="width: 50%;"></span>
                                  </div>
                              </div>
                          </td>
                          <td class="star-num">(1)</td>
                      </tr>
                      <tr class="">
                          <td>
                              <span>
                                <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter" style="background-color: transparent; border: none; color: #ffffff;">4 Stars</button>
                              </span>
                          </td>
                          <td class="progress-bar-container">
                              <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                  <div class="fit-progressbar-background">
                                      <span class="progress-fill" style="width: 50%;"></span>
                                  </div>
                              </div>
                          </td>
                          <td class="star-num">(1)</td>
                      </tr>
                      <tr class="">
                          <td>
                              <span>
                                <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter" style="background-color: transparent; border: none; color: #ffffff;">3 Stars</button>
                              </span>
                          </td>
                          <td class="progress-bar-container">
                              <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                  <div class="fit-progressbar-background">
                                      <span class="progress-fill" style="width: 0;"></span>
                                  </div>
                              </div>
                          </td>
                          <td class="star-num">(0)</td>
                      </tr>
                      <tr class="">
                          <td>
                              <span>
                                <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter" style="background-color: transparent; border: none; color: #ffffff;">2 Stars</button>
                              </span>
                          </td>
                          <td class="progress-bar-container">
                              <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                  <div class="fit-progressbar-background">
                                      <span class="progress-fill" style="width: 0;"></span>
                                  </div>
                              </div>
                          </td>
                          <td class="star-num">(0)</td>
                      </tr>
                      <tr class="">
                          <td>
                              <span>
                                <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter" style="background-color: transparent; border: none; color: #ffffff;">1 Stars</button>
                                
                              </span>
                          </td>
                          <td class="progress-bar-container">
                              <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                  <div class="fit-progressbar-background">
                                      <span class="progress-fill" style="width: 0;"></span>
                                  </div>
                              </div>
                          </td>
                          <td class="star-num">(0)</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-md-6">
              <div class="ranking">
                  <h6 class="text-display-7">Rating Breakdown</fh6>
                  <ul>
                      <li>
                          Event venue/location<span>3<span class="review-star rate-10 show-one"></span></span>
                      </li>
                      <li>
                          Event organization<span>5<span class="review-star rate-10 show-one"></span></span>
                      </li>
                      <li>
                          Overall experience<span>4<span class="review-star rate-10 show-one"></span></span>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="review-list">
      <ul>
          <li>
              <div class="d-flex">

                      <span>
                      </span>
                  </div>
                  <div class="right">
                      <h4>
                          Username
                          <span class="gig-rating text-body-2">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                  <path
                                      fill="currentColor"
                                      d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                  ></path>
                              </svg>
                              5.0
                          </span>
                      </h4>
                      <div class="review-description">
                          <p>
                              Test review. Place reviews here and make sure to add the user's name and profile picture.
                          </p>
                      </div>
                      <span class="publish py-3 d-inline-block w-100">Published 4 weeks ago</span>
                      <div class="response-item mt-4 d-flex">
                      </div>
                  </div>
          </li>
      </ul>
  </div>
</div>



<!-- Footer -->
<script src="includefooter.js"></script>








  <!-- =================================================================================== -->
  <!-- ============================== PAGE CODE ENDS HERE ============================== -->
  <!-- =================================================================================== -->



  <!-- Bootstrap JS (Optional, only required if you use certain Bootstrap components) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAqB04l72T1rAlu2+nDrS4kRGCpTXwiG"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAqB04l72T1rAlu2+nDrS4kRGCpTXwiG"
    crossorigin="anonymous"></script>

  <script>
    // Get references to the button and form container
    const contactButton = document.getElementById('contactButton');
    const contactFormContainer = document.getElementById('contactFormContainer');
    const contactForm = document.getElementById('contactForm');

    // Add event listener to the button
    contactButton.addEventListener('click', () => {
      // Toggle the visibility of the form
      contactFormContainer.style.display = contactFormContainer.style.display === 'none' ? 'block' : 'none';
    });

  </script>
</body>
</html>