<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

   
</head>
<body>
    
 <!-- Header -->
 <%- include('partials/header.ejs'); %>


    <!-- Review events -->
    <br>
    <h1 style="color: white;">Admin Panel</h1>
    <div class="revieweventscontainer">
        <h2 style="color: white; text-align: left;">Event Review Queue</h2>


        <table class="table">
            <thead>
                <tr>
                    <th>Event Title</th>
                    <th>Image</th>
                    <th>Event Date</th>
                    <th>Address</th>
                    <th>Description</th>
                    <th>Ticket Price</th>
                    <th>Number of Tickets</th>
                    <th>Category ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach(function(event) { %>
                    <tr>
                        <td><%= event.eventTitle %></td>
                        <td>
                            <!-- Display the image if the path is available -->
                            <% if(event.coverPhoto) { %>
                                <img src="<%= event.coverPhoto %>" alt="Event Image" style="width: 100px; height: auto;">
                            <% } else { %>
                                <p>No Image</p>
                            <% } %>
                        </td>
                        <td><%= event.eventDate ? event.eventDate.toISOString().split('T')[0] : 'No Date Provided' %></td>
                        <td><%= event.address %></td>
                        <td><%= event.description %></td>
                        <td><%= event.ticketPrice %></td>
                        <td><%= event.numTickets%></td>
                        <td><%= event.categoryID %></td>
                        <td>
                            <!-- Approve Action -->
                            <form action="/approve-event" method="post" style="display:inline;">
                                <input type="hidden" name="queueID" value="<%= event.queueID %>">
                                <button type="submit" id = approvebutton class="btn btn-success">Approve</button>
                            </form>
                            <!-- Reject Action -->
                            <form action="/reject-event" method="post" style="display:inline;">
                                <input type="hidden" name="queueID" value="<%= event.queueID %>">
                                <button type="submit" id = 'rejectbutton' class="btn btn-danger">Reject</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Customer messages -->
    <div class="revieweventscontainer">
        <h2 style="color: white; text-align: left;">Customer Message Queue</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Message ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Delete</th> 
                </tr>
            </thead>
            <tbody>
                <% messages.forEach(function(message) { %>
                    <tr>
                        <td><%= message.messageID %></td>
                        <td><%= message.firstName %></td>
                        <td><%= message.lastName %></td>
                        <td><%= message.emailAddress %></td>
                        <td><%= message.subject %></td>
                        <td><%= message.message %></td>
                        <td>
                            <form action="/delete-message" method="post">
                                <input type="hidden" name="messageID" value="<%= message.messageID %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>